.home-title{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #1976d2;
}

.home-post-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}

.home-search-wrapper{
    display: flex;
    justify-content: center;
}

.home-search{
    display: flex;
    justify-content: center;
    width: 50vw;
}